<h2>Type new post:</h2>


<form class="form-group" action="/new" method="POST">
<div class="form-group">

	

	<div class="form-group"><img src="https://1igolka.com/wp-content/uploads/2019/05/krasivye_risunki_karandashom_dlya_srisovki_33_30214553.png" width="300" height="272" class="rightpic"></div>
	<input type="text" name="" class="form-group" placeholder="Your neme"><br>
	<textarea class="form-group" rows="3" placeholder="Enter text here"></textarea><br>
	<button type="submit" class="btn btn-info">New Post</button>
</div>
</form>


<style>
   .rightpic {
    float: left; /* Выравнивание по правому краю */
    margin: 30px 005px; /* Отступы вокруг фотографии */
   }
  </style>
